
@{
    ViewBag.Title = "NewRentals";
}

<h2>NewRentals</h2>

<table class="table table-hover table-striped table-bordered">
    <tr>
        <th>INSTRUMENT</th>
        <th>COST</th>
    </tr>
    @foreach (KeyValuePair<string, int> entry in ViewBag.displayDictionary)
    {
        <tr>
            <td>@entry.Key:</td>
            <td>$@entry.Value per month</td>
        </tr>
    }
</table>
